$white: #fafafa;
$black: hsl(0, 0%, 0%);
$grey: lightgrey;
$orange: #ffc000;
$darkblue: radial-gradient(100% 1071.07% at 0% 0%, #0f0d2b 0%, #0c0926 100%);

* {
  transition: all 0.4s ease;
}
#backtop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  border-radius: 12px;
  border: 4px solid $black;
  outline: none;
  cursor: pointer;
  padding: 8px;
  transition: 0.6s;
  background-color: $white;
}

#backtop a {
  font-weight: 700;
  font-size: 20px;
  color: $black;
}

#backtop:hover {
  border-color: $orange;
  a {
    color: $orange;
  }
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  .nav1 {
    display: none;
    padding: 10px 0;
    background-color: $black;
    a {
      color: $grey;
      margin-right: 8px;
      font-weight: 700;
      font-size: 10px;
      line-height: 140%;
      letter-spacing: 1.5px;
    }
    a:hover {
      color: $white;
    }
  }
  .nav2 {
    display: none;
    padding: 20px 0;
    background-color: $white;
    .container {
      display: grid;
      grid-template-columns: repeat(2, auto);
      justify-content: space-between;
      align-items: center;
      gap: 10px;
      .nav__left {
        display: flex;
        gap: 20px;
        align-items: center;
        h1 {
          font-weight: 700;
          font-size: 23px;
          line-height: 140%;
          letter-spacing: 0.4px;
        }
        ul {
          display: flex;
          gap: 24px;
          li {
            a {
              font-weight: 500;
              font-size: 14px;
              line-height: 140%;
              text-align: center;
              letter-spacing: 0.1px;
              color: $black;
            }
            a:hover {
              color: $orange;
            }
          }
        }
      }
      .nav__right {
        display: flex;
        gap: 15px;
        align-items: center;
        button {
          border: none;
          border-radius: 4px;
          padding: 4px 8px;
          background-color: $grey;
          a {
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            letter-spacing: 0.44px;
            color: $black;
          }
        }
        button:hover {
          background-color: $orange;
        }
      }
    }
  }
}

.hamburger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .left {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}
.uil-shopping-cart-alt {
  font-size: 30px;
  color: $black;
}

.uil-shopping-cart-alt:hover {
  color: $orange;
}

.uil-bars {
  cursor: pointer;
  color: $black;
  font-size: 35px;
}

#navbar-responsive {
  display: block;
  position: fixed;
  top: -100%;
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  text-align: center;
  background-color: #00000084;
  .hamcontent {
    position: relative;
    padding: 92px 36px 45px;
    background-color: $white;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    a {
      font-weight: 700;
      font-size: 24px;
      line-height: 140%;
      color: $black;
    }
    a:hover {
      color: $orange;
    }
    .buttons {
      position: absolute;
      bottom: 20px;
      left: 0;
      padding: 0 28px;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 8px;
      button {
        padding: 13px 20px;
        border: none;
        background-color: #fff;
        border-radius: 6px;
        a {
          font-weight: 700;
          font-size: 20px;
          line-height: 34px;
          color: $black;
        }
      }

      button:hover {
        background-color: $orange;
      }
    }
  }
}

.nav__res {
  padding: 15px 0;
  background-color: $white;
}

.uil-multiply {
  z-index: 10;
  cursor: pointer;
  padding: 25px 30px;
  color: $black;
  font-size: 35px;
  position: absolute;
  right: 0px;
}

.navbarshrink {
  padding: 15px 0 !important;
  box-shadow: 1px 5px 15px $grey;
}

@media (min-height: 700px) {
  #navbar-responsive .hamcontent {
    height: 70vh;
    .buttons {
      bottom: 45px;
    }
  }
}
@media (min-width: 910px) {
  .nav1 {
    display: block !important;
  }
  .nav2 {
    display: block !important;
  }
  .nav__res {
    display: none;
  }
}

@media (min-width: 970px) {
  .nav__left {
    gap: 80px !important;
  }
}
