@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  transition: all 0.4s ease;
  font-family: 'Montserrat', sans-serif;
  outline: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

input:focus {
  outline: none;
}

::placeholder {
  color: unset;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:where(:not(html, iframe, canvas, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}