@use "../main.scss";
@use "../vendors/carousel.scss";

@media (min-width: 550px) {
  main {
    background-color: #fafafa;
  }
  #tell-ver-main {
    display: none;
  }

  #maxsulot-section {
    .maxsulot-header {
      padding: 130px 0px 64px;
      display: flex;
      justify-content: space-between;
      column-gap: 130px;
      row-gap: 60px;

      .maxsulot-header_left {
        max-width: 460px;
        display: grid;
        grid-template-columns: auto auto auto auto;
        row-gap: 24px;
        column-gap: 15px;

        .img-1 {
          grid-column: 1/5;
          grid-row: 1/2;
          height: 458px;
        }

        .img-2 {
          grid-column: 1/2;
          grid-row: 2/3;
          max-width: 104px;
        }

        .img-3 {
          grid-column: 2/3;
          grid-row: 2/3;
          max-width: 104px;
        }

        .img-4 {
          grid-column: 3/4;
          grid-row: 2/3;
          max-width: 104px;
        }

        .img-5 {
          grid-column: 4/5;
          grid-row: 2/3;
          max-width: 104px;
        }
      }

      .maxsulot-header_right {
        color: black;
        line-height: 140%;

        h1 {
          line-height: 140%;

          margin-bottom: 10px;
          font-weight: 700;
          font-size: 34px;
          letter-spacing: 0.25px;
        }

        p {
          line-height: 140%;

          margin: 20px 0px 4px;
          font-weight: 400;
          font-size: 16px;
          letter-spacing: 0.44px;
        }

        a {
          font-weight: 500;
          font-size: 12px;
          letter-spacing: 0.4px;
          color: rgba(0, 0, 0, 0.4);
        }

        h6 {
          margin: 8px 0px 22px;
          font-weight: 700;
          font-size: 34px;
          letter-spacing: 0.25px;
        }

        .maxsulot-header__box {
          margin: 6px 0px 24px;
          display: flex;
          column-gap: 8px;
          .box__item {
            padding: 12px 16px;
            border: 1px solid #dbdee7;
            border-radius: 6px;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            &:hover {
              background: #f5f8fd;
            }
          }
        }

        button {
          margin-bottom: 16px;
          width: 360px;
          padding: 10px 0px;
          font-weight: 600;
          font-size: 14px;
          line-height: 140%;
          text-align: center;
          letter-spacing: 0.75px;
          text-transform: uppercase;
          background: rgba(0, 0, 0, 0.05);
          &:hover {
            background-color: #ffc000;
          }
        }

        h2 {
          margin-bottom: 30px;
          font-weight: 700;
          font-size: 24px;
        }

        .maxsulot-header__box-2 {
          display: grid;
          grid-template-columns: auto auto;
          row-gap: 20px;
          column-gap: 60px;

          .box-2 {
            display: flex;
            flex-direction: row;
            align-items: center;

            column-gap: 20px;

            .box__item-1 {
              grid-column: 1/2;
              grid-row: 1/2;
            }

            .box__item-2 {
              grid-column: 2/3;
              grid-row: 1/2;
            }

            .box__item-3 {
              grid-column: 1/2;
              grid-row: 2/3;
            }

            .box__item-4 {
              grid-column: 2/3;
              grid-row: 2/3;
            }
          }
        }
      }
    }

    .maxsulot-body {
      color: #000000;

      h1 {
        margin-bottom: 32px;
        font-weight: 700;
        font-size: 34px;
        line-height: 140%;
        text-align: center;
        letter-spacing: 0.25px;
      }

      .maxsulot-body_box {
        display: flex;
        align-items: center;
        column-gap: 30px;
        row-gap: 40px;

        .box__item {
          background: #ffffff;
          box-shadow: 0px 0px 98px rgba(0, 0, 0, 0.05);
          border-radius: 12px;
          width: 264px;
          padding-bottom: 6px;

          h2 {
            margin: 8px 13px 0px;
            font-weight: 600;
            font-size: 14px;
            line-height: 140%;
            letter-spacing: 0.75px;
            text-transform: uppercase;
          }
          p {
            margin: 8px 13px;
            font-weight: 500;
            font-size: 12px;
            line-height: 140%;
            letter-spacing: 0.4px;
          }
          .box-item_box {
            margin: 0px 13px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            p {
              font-weight: 700;
              font-size: 10px;
              line-height: 140%;
              text-transform: uppercase;
            }
          }

          button {
            margin: 0px 13px;
            background: #ffc000;
            border-radius: 6px;
            padding: 8px 22px;
            font-weight: 600;
            font-size: 14px;
            line-height: 140%;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 0.75px;
            text-transform: uppercase;
          }
        }
      }
    }

    .maxsulot-footer {
      padding: 64px 0px;
      h1 {
        margin-bottom: 34px;
        font-weight: 700;
        font-size: 34px;
        line-height: 140%;
        text-align: center;
        letter-spacing: 0.25px;
        color: #000000;
      }

      .maxsulot-footer_cards {
        display: flex;
        flex-wrap: wrap;
        column-gap: 30px;
        row-gap: 40px;

        .footer_cards__item {
          p {
            padding-top: 24px;
            font-weight: 400;
            font-size: 25px;
            line-height: 130%;
            letter-spacing: 0.02em;
            color: #000000;
            text-align: center;
          }
        }
      }
    }
  }
}

@media (max-width: 550px) {
  #desktop-main {
    display: none;
  }
  #best-section {
    .best-container {
      padding: 110px 20px 0px;

      .best-top {
        .img-box {
          display: none;
        }
      }

      .best-bottom {
        display: flex;
        flex-direction: column;

        h1 {
          max-width: 300px;
          font-weight: 700;
          font-size: 24px;
          line-height: 140%;
          color: #000000;
        }

        .best-bottom_box {
          display: flex;
          justify-content: space-between;
          align-items: center;

          p {
            font-weight: 700;
            font-size: 24px;
            line-height: 140%;
            color: #000000;
          }
        }

        p {
          margin: 10px 0px;
          font-weight: 400;
          font-size: 14px;
          line-height: 160%;
          letter-spacing: 0.25px;
          color: #000000;
        }

        .best-bottom_box2 {
          display: flex;
          flex-direction: column;
          row-gap: 8px;

          p {
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            letter-spacing: 0.44px;
            color: #000000;
          }

          .box2_items {
            display: flex;
            column-gap: 8px;

            .box2__item {
              padding: 12px 14px;
              border: 1px solid #dbdee7;
              border-radius: 6px;
              font-weight: 700;
              font-size: 16px;
              line-height: 24px;
              text-align: center;
              color: #000000;

              &:hover {
                background: rgba(0, 0, 0, 0.05);
              }
            }
          }
        }

        .best-btn_box {
          margin: 24px 0px 32px;
          display: flex;
          flex-direction: column;
          row-gap: 8px;

          .best-btn {
            padding: 10px 65px;
            font-weight: 600;
            background: rgba(0, 0, 0, 0.05);
            font-size: 14px;
            line-height: 140%;
            text-align: center;
            letter-spacing: 0.75px;
            text-transform: uppercase;
            color: #000000;

            &:hover {
              background: #ffc000;
            }
          }
        }

        .prioriaty-box {
          margin-top: 20px;
          display: flex;
          flex-direction: column;
          row-gap: 15px;

          .prioriaty_item {
            display: flex;
            column-gap: 20px;

            img {
              height: 29px;
            }

            p {
              font-weight: 400;
              font-size: 11px;
              line-height: 16px;
              letter-spacing: 0.02em;
              color: #0d0d0d;
            }
          }
        }
      }
    }
  }

  #tavar-section {
    padding: 0px 0px 44px;
    h1 {
      margin-bottom: 15px;
      font-weight: 700;
      font-size: 34px;
      line-height: 140%;
      letter-spacing: 0.25px;
      color: #000000;
    }

    .tavar-box {
      display: flex;
      justify-content: space-between;
      column-gap: 15px;

      .tavar-card {
        border-radius: 50px;

        p {
          margin: 4px 0px;
          font-weight: 500;
          font-size: 14px;
          line-height: 140%;
          letter-spacing: 0.1px;
          color: #000000;
        }

        h6 {
          font-weight: 700;
          font-size: 10px;
          line-height: 140%;
          letter-spacing: 1.5px;
          text-transform: uppercase;
          color: #000000;
        }
      }
    }
  }

  #catigory-section {
    padding: 10px 0px;

    h1 {
      margin-bottom: 20px;
      max-width: 200px;
      font-weight: 700;
      font-size: 34px;
      line-height: 140%;
      letter-spacing: 0.25px;
      color: #000000;
    }

    span {
      display: flex;
      flex-direction: column;
      row-gap: 8px;

      p {
        margin-top: 10px;
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        letter-spacing: 0.1px;
        color: #0d0d0d;
      }
    }
  }
}
@media (max-width: 1150px) {
  #maxsulot-section {
    .maxsulot-header {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .maxsulot-header_right {
        max-width: 460px;
      }
    }
  }

  .maxsulot-body_box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .maxsulot-footer_cards {
    justify-content: center;
  }
}
