@use "../main.scss";
@use "../vendors/carousel.scss";


@media (min-width: 10px) {
  #best-section {
    .best-container {
        padding: 110px 20px 0px;

        .best-top {

            img {
                max-width: 460px;
            }



            .img-box {
                display: none;
            }
        }
    }
  }
}
