@use "../main.scss";

$white: #fafafa;
$black: #000000;
$grey: grey;
$orange: #ffc000;
$darkblue: radial-gradient(100% 1071.07% at 0% 0%, #0f0d2b 0%, #0c0926 100%);

main {
  margin-top: 80px;
  #s1 {
    background-color: $orange;
    position: relative;
    .img {
      display: none;
      position: absolute;
      z-index: 0;
      top: 20%;
      height: 60%;
      width: 100%;
    }
    .container {
      position: relative;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: right;
      gap: 20px;

      .s1__left {
        display: none;
        h1 {
          font-weight: 700;
          font-size: 34px;
          line-height: 140%;
          display: flex;
          align-items: center;
          letter-spacing: 0.25px;
          color: $white;
          max-width: 588px;
        }
        p {
          font-weight: 500;
          font-size: 14px;
          line-height: 140%;
          display: flex;
          align-items: center;
          letter-spacing: 0.1px;
          max-width: 588px;
          color: $white;
          margin: 16px 0 24px;
        }
        a {
          font-weight: 600;
          font-size: 14px;
          line-height: 140%;
          display: flex;
          align-items: center;
          text-align: center;
          gap: 4px;
          letter-spacing: 0.75px;
          color: $orange;
          text-transform: uppercase;
        }
      }
      .s1__right {
        display: flex;
        justify-content: right;

        img {
          z-index: 2;
          position: relative;
          width: 70%;
        }
      }
    }
  }
}

#s2 {
  background-color: #e5e5e5;
  padding: 16px 0 80px;
  .container {
    .s1__left {
      h1 {
        font-weight: 700;
        font-size: 34px;
        line-height: 140%;
        text-align: left;
        display: flex;
        letter-spacing: 0.25px;
        color: $black;
        max-width: 588px;
      }
      p {
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        display: flex;
        letter-spacing: 0.1px;
        max-width: 588px;
        color: $black;
        margin: 16px 0 24px;
      }
      a {
        font-weight: 600;
        font-size: 14px;
        line-height: 140%;
        display: flex;
        align-items: center;
        text-align: center;
        gap: 4px;
        letter-spacing: 0.75px;
        color: $black;
        text-transform: uppercase;
      }
    }

    h1 {
      font-weight: 700;
      font-size: 34px;
      line-height: 140%;
      text-align: center;
      letter-spacing: 0.25px;
      color: $black;
      margin-bottom: 24px;
      margin-top: 48px;
    }
    .owl-carousel {
      position: relative;
      display: flex;
      justify-content: center;
      gap: 100px;
      .item {
        background-color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 50px;
        border-radius: 12px;
        padding: 30px 0;
        max-width: 294px;
        img {
          width: 25px;
        }
        p {
          font-weight: 400;
          font-size: 16px;
          line-height: 140%;
          display: flex;
          align-items: center;
          letter-spacing: 0.44px;
          color: $black;
        }
      }
      .owl-dots {
        position: absolute;
        bottom: -60px;
        gap: 5px;
        display: flex;
        .owl-dot {
          width: 16px;
          height: 16px;
          span {
            width: 4px;
            height: 4px;
            margin: 6px;
          }
        }
        .owl-dot.active {
          border-radius: 50%;
          border: 1px solid black;
        }
      }
    }
  }
}

@media (min-width: 800px) {
  .s1__left {
    display: block !important;
  }
  #s2 {
    .s1__left {
      display: none !important;
    }
  }
  .owl-dots{
    display: none !important;
  }
  main {
    .container {
      justify-content: space-between !important;
    }
    .img {
      display: block !important;
    }
    .s1__right {
      img {
        width: 100% !important;
      }
    }
  }
}

@media (min-width: 910px) {
  main {
    margin-top: 115px;
  }
}

@media (min-width: 1050px) {
  main {
    .img {
      height: 50% !important;
      top: 25% !important;
    }
  }
}

@media (min-width: 1100px) {
  main {
    .img {
      top: 30% !important;
    }
  }
}
