@use "../main.scss";

$white: #fafafa;
$black: #000000;
$grey: grey;
$orange: #ffc000;
$darkblue: radial-gradient(100% 1071.07% at 0% 0%, #0f0d2b 0%, #0c0926 100%);

main {
  margin-top: 80px;
  background-color: #e5e5e5;
  padding-bottom: 70px;
  #s1 {
    background-color: $orange;
    position: relative;
    .img {
      display: none;
      position: absolute;
      z-index: 0;
      top: 20%;
      height: 60%;
      width: 100%;
    }
    .container {
      position: relative;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: right;
      gap: 20px;

      .s1__left {
        display: none;
        h1 {
          font-weight: 700;
          font-size: 34px;
          line-height: 140%;
          display: flex;
          align-items: center;
          letter-spacing: 0.25px;
          color: $white;
          max-width: 588px;
        }
        p {
          font-weight: 500;
          font-size: 14px;
          line-height: 140%;
          display: flex;
          align-items: center;
          letter-spacing: 0.1px;
          max-width: 588px;
          color: $white;
          margin: 16px 0 24px;
        }
        a {
          font-weight: 600;
          font-size: 14px;
          line-height: 140%;
          display: flex;
          align-items: center;
          text-align: center;
          gap: 4px;
          letter-spacing: 0.75px;
          color: $orange;
          text-transform: uppercase;
        }
      }
      .s1__right {
        display: flex;
        justify-content: right;

        img {
          z-index: 2;
          position: relative;
          width: 70%;
        }
      }
    }
  }
}

#s2 {
  background-color: #e5e5e5;
  padding: 16px 0 70px;
  .container {
    .s1__left {
      h1 {
        font-weight: 700;
        font-size: 34px;
        line-height: 140%;
        text-align: left;
        display: flex;
        letter-spacing: 0.25px;
        color: $black;
        max-width: 588px;
      }
      p {
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        display: flex;
        letter-spacing: 0.1px;
        max-width: 588px;
        color: $black;
        margin: 16px 0 24px;
      }
      a {
        font-weight: 600;
        font-size: 14px;
        line-height: 140%;
        display: flex;
        align-items: center;
        text-align: center;
        gap: 4px;
        letter-spacing: 0.75px;
        color: $black;
        text-transform: uppercase;
      }
    }

    h1 {
      font-weight: 700;
      font-size: 34px;
      line-height: 140%;
      text-align: center;
      letter-spacing: 0.25px;
      color: $black;
      margin-bottom: 24px;
      margin-top: 48px;
    }
    .owl-carousel {
      position: relative;
      display: flex;
      justify-content: center;
      gap: 100px;
      .item {
        background-color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 50px;
        border-radius: 12px;
        padding: 30px 0;
        img {
          width: 25px;
        }
        p {
          font-weight: 400;
          font-size: 16px;
          line-height: 140%;
          display: flex;
          align-items: center;
          text-align: center;
          letter-spacing: 0.44px;
          color: $black;
        }
      }
      .owl-dots {
        position: absolute;
        bottom: -60px;
        gap: 5px;
        display: flex;
        .owl-dot {
          width: 16px;
          height: 16px;
          span {
            width: 4px;
            height: 4px;
            margin: 5px;
          }
        }
        .owl-dot.active {
          border-radius: 50%;
          border: 1px solid black;
        }
      }
    }
  }
}

#s3 {
  background-color: #e5e5e5;
  padding: 10px 0 70px;
  .container {
    h1 {
      font-weight: 700;
      font-size: 34px;
      line-height: 140%;
      text-align: center;
      letter-spacing: 0.25px;
      color: $black;
      margin-bottom: 32px;
    }
    .owl-carousel {
      position: relative;
      display: flex;
      justify-content: center;
      .owl-dots {
        position: absolute;
        bottom: -40px;
        gap: 5px;
        display: flex;
        .owl-dot {
          width: 16px;
          height: 16px;
          span {
            width: 4px;
            height: 4px;
            margin: 5px;
          }
        }
        .owl-dot.active {
          border-radius: 50%;
          border: 1px solid black;
        }
      }
      .item {
        background-color: $white;
        border-radius: 12px;
        .card_text_res {
          display: block;
          padding: 8px 14px;
          h2 {
            font-weight: 600;
            font-size: 14px;
            line-height: 140%;
            letter-spacing: 0.75px;
            text-transform: uppercase;
            color: $black;
            margin: 4px 0;
          }
          img {
            width: 98px;
          }
          h6 {
            font-weight: 700;
            font-size: 10px;
            line-height: 140%;
            letter-spacing: 1.5px;
            color: $black;
          }
        }
        .card_text {
          display: none;
          padding: 8px 14px;
          h2 {
            font-weight: 600;
            font-size: 14px;
            line-height: 140%;
            letter-spacing: 0.75px;
            text-transform: uppercase;
            color: $black;
          }
          p {
            font-weight: 500;
            font-size: 12px;
            line-height: 140%;
            letter-spacing: 0.4px;
            color: $black;
            margin: 8px 0;
          }
          button {
            padding: 7px 0;
            display: flex;
            justify-content: center;
            width: 100%;
            background-color: $orange;
            border: none;
            border-radius: 6px;
            font-weight: 600;
            font-size: 14px;
            line-height: 140%;
            letter-spacing: 0.75px;
            text-transform: uppercase;
            margin-top: 8px;
            a{
              color: $black;
            }
          }
          .rate {
            display: flex;
            justify-content: space-between;
            align-items: center;
            img {
              width: 98px;
            }
            h6 {
              font-weight: 700;
              font-size: 10px;
              line-height: 140%;
              letter-spacing: 1.5px;
              color: $black;
            }
          }
        }
      }
    }
  }
}

#s4 {
  background-color: #e5e5e5;
  padding: 10px 0 140px;
  .container {
    h1 {
      font-weight: 700;
      font-size: 34px;
      line-height: 140%;
      text-align: center;
      letter-spacing: 0.25px;
      color: $black;
      margin-bottom: 32px;
    }
    .owl-carousel {
      display: flex;
      justify-content: center;
      position: relative;
      .owl-dots {
        position: absolute;
        bottom: -40px;
        gap: 5px;
        display: flex;
        .owl-dot {
          width: 16px;
          height: 16px;
          span {
            width: 4px;
            height: 4px;
            margin: 5px;
          }
        }
        .owl-dot.active {
          border-radius: 50%;
          border: 1px solid black;
        }
      }
      .item {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 8px;
        img {
          width: 100%;
          height: 100%;
        }
        a {
          margin-top: 8px;
          font-weight: 600;
          font-size: 16px;
          line-height: 140%;
          letter-spacing: 0.44px;
          color: $black;
          text-align: center;
          text-transform: capitalize;

        }
        button {
          display: none;
          opacity: 0;
          justify-content: center;
          align-items: center;
          padding: 18px 0;
          background-color: $black;
          font-weight: 700;
          font-size: 24px;
          line-height: 140%;
          width: 100%;
          a {
            color: $orange;
            text-align: center;
            text-transform: capitalize;
          }
        }
      }
    }
  }
}

#s5 {
  background-image: radial-gradient(
    100% 1071.07% at 0% 0%,
    #0f0d2b 0%,
    #0c0926 100%
  );
  .container {
    position: relative;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    .phone {
      margin-top: -90px;
      width: 60%;
    }
    .text {
      padding: 16px 0 48px;
      h1 {
        font-weight: 700;
        font-size: 34px;
        line-height: 140%;
        letter-spacing: 0.25px;
        color: $white;
        max-width: 754px;
      }
      p {
        max-width: 738px;
        margin: 24px 0 40px;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: 0.44px;
        color: $white;
      }
      .store {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
      }
    }
  }
}

.s6 {
  padding-top: 64px !important;
}

#s7 {
  padding-bottom: 48px;
  background-color: #e5e5e5;
  .container {
    .card {
      background-color: #fff;
      display: flex;
      gap: 16px;
      flex-direction: column;
      img {
        width: 100%;
      }
    }
    .s7__text {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      padding: 16px 8px 24px;
      h1 {
        font-weight: 700;
        font-size: 34px;
        line-height: 140%;
        letter-spacing: 0.25px;
        color: $black;
        max-width: 556px;
      }
      p {
        max-width: 558px;
        margin: 24px 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: 0.44px;
        color: $black;
      }
      button {
        padding: 8px 23px;
        border-radius: 6px;
        background-color: $orange;
        border: none;
        font-weight: 600;
        font-size: 14px;
        line-height: 140%;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.75px;
        text-transform: uppercase;
        a {
          color: $black;
        }
      }
    }
  }
}

#s8 {
  background-color: $orange;
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      font-weight: 400;
      font-size: 20px;
      line-height: 140%;
      text-align: center;
      letter-spacing: 0.15px;
      color: $black;
      max-width: 319px;
      margin: 56px 0;
    }
  }
}

@media(min-width:700px){
  #s4 .container .owl-carousel{
    .owl-dots{
      display: none;
    }
    .item {
      a{
        display: none;
      }
      button{
        display: flex;
        a{
          display: block;
        }
      }
    }
    .item:hover {
      border-radius: 8px;
      height: 100%;
      margin-top: -70px;
      button {
        opacity: 1;
      }
    }
  } 
}

@media (min-width: 800px) {
  #s8 {
    h1 {
      font-weight: 700 !important;
      font-size: 34px !important;
      line-height: 140% !important;
      margin: 170px 0 !important;
      max-width: 666px !important;
    }
  }
  #s5 {
    .container {
      justify-content: space-between;
      flex-direction: initial !important;
    }
    .phone {
      margin-top: -100px !important;
      width: max-content !important;
      height: max-content;
    }
  }
  .text {
    padding: 40px 0 56px !important;
    width: 60%;
  }
  .store {
    align-items: center !important;
    flex-direction: initial !important;
  }
  .card_text {
    display: block !important;
  }
  .card_text_res {
    display: none !important;
  }
  .s1__left {
    display: block !important;
  }
  #s2 {
    .s1__left {
      display: none !important;
    }
  }
  .owl-dots {
    display: none !important;
  }
  main {
    #s1 {
      .container {
        justify-content: space-between !important;
      }
    }
    .img {
      display: block !important;
    }
    .s1__right {
      img {
        width: 100% !important;
      }
    }
  }
}

@media (min-width: 910px) {
  main {
    margin-top: 115px;
  }
  #s7 {
    .card {
      flex-direction: initial !important;
      gap: 30px;
      justify-content: space-between;
      img {
        width: 50% !important;
      }
      .s7__text {
        align-items: flex-start;
      }
    }
  }
}

@media (min-width: 1050px) {
  main {
    .img {
      height: 50% !important;
      top: 25% !important;
    }
  }
  #s5 {
    .phone {
      margin-top: -170px !important;
    }
  }
}

@media (min-width: 1100px) {
  main {
    .img {
      top: 30% !important;
    }
  }
}
