@use "../main.scss";

#profile-section {
  padding: 180px 0px;
  background: #fafafa;

  .profile-container {
    display: flex;
    flex-direction: row;
    column-gap: 130px;
    row-gap: 40px;
    flex-wrap: wrap;
  }

  .profile-left {
    display: flex;
    flex-direction: column;
    row-gap: 16px;

  
    button {
      padding: 9px 92px;
      border-radius: 6px;
      font-weight: 700;
      font-size: 16px;
      line-height: 140%;
      text-align: center;
      color: #0d0d0d;
      background: #ffc000;

      &:hover {
        background-color: #ff0;
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    h1 {
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      color: #000000;
    }

    input {
      width: 264px;
      padding: 10px 0px 10px 12px;
      border: 1px solid #dbdee7;
      border-radius: 6px;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #0d0d0d;

      &:hover {
        border: 1px solid #35290765;
      }

      &:focus {
        border: 1px solid #ffc000;
      }
    }

    p {
      font-weight: 500;
      font-size: 12px;
      line-height: 140%;
      letter-spacing: 0.4px;
      color: #ffc000;
      cursor: pointer;

      &:hover {
        color: rgba(131, 105, 21, 0.336);
      }
    }
  }
}

@media (max-width: 600px) {
  .profile-left,
  img,
  .profile-center,
  .profile-right {
    width: 100% !important;
  }

  form input {
    width: 96.5% !important;
  }
}
