@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  transition: all 0.4s ease;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
  outline: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

input:focus {
  outline: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:where(:not(html, iframe, canvas, svg, video, audio):not(svg *, symbol *)) {
  display: revert;
}

* {
  transition: all 0.4s ease;
}

footer .container .footer_res {
  padding: 36px 28px;
}
footer .container .footer_res p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
footer .container .footer_res hr {
  background-color: #dbdee7;
  height: 1px;
  border: none;
}
footer .container .footer_res ul {
  padding: 36px 0;
  display: grid;
  grid-template-columns: auto auto;
}
footer .container .footer_res ul li a {
  color: #000000;
  font-weight: 700;
  font-size: 20px;
  line-height: 34px;
}
footer .container .footer_res .location {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 17px;
}
footer .container .footer_res .location .thing {
  display: flex;
  align-items: center;
  gap: 20px;
}
footer .container .footer_res .location .thing p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
footer .container .footer_res .location .thing i {
  font-weight: 600;
  font-size: 26px;
  line-height: 24px;
  color: #0045ff;
}

.footer {
  padding: 46px 0;
  display: none;
  justify-content: space-between;
}
.footer .footer_left {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.footer .footer_left h6 {
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #000000;
}
.footer .footer_left p {
  margin: 16px 0 20px;
  max-width: 265px;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0.25px;
  color: #000000;
}
.footer .mt {
  margin-top: 38px;
}
.footer .footer_right {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.footer .footer_right h6 {
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 16px;
}
.footer .footer_right ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer .footer_right ul li a {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0.25px;
  color: #000000;
}

@media (min-width: 830px) {
  .footer_res {
    display: none;
  }
  .footer {
    display: flex !important;
  }
}
@media (min-width: 900px) {
  .footer_right {
    gap: 100px !important;
  }
}
@media (min-width: 1000px) {
  .footer_right {
    gap: 170px !important;
  }
}
* {
  transition: all 0.4s ease;
}

#backtop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  border-radius: 12px;
  border: 4px solid hsl(0, 0%, 0%);
  outline: none;
  cursor: pointer;
  padding: 8px;
  transition: 0.6s;
  background-color: #fafafa;
}

#backtop a {
  font-weight: 700;
  font-size: 20px;
  color: hsl(0, 0%, 0%);
}

#backtop:hover {
  border-color: #ffc000;
}
#backtop:hover a {
  color: #ffc000;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
nav .nav1 {
  display: none;
  padding: 10px 0;
  background-color: hsl(0, 0%, 0%);
}
nav .nav1 a {
  color: lightgrey;
  margin-right: 8px;
  font-weight: 700;
  font-size: 10px;
  line-height: 140%;
  letter-spacing: 1.5px;
}
nav .nav1 a:hover {
  color: #fafafa;
}
nav .nav2 {
  display: none;
  padding: 20px 0;
  background-color: #fafafa;
}
nav .nav2 .container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
nav .nav2 .container .nav__left {
  display: flex;
  gap: 20px;
  align-items: center;
}
nav .nav2 .container .nav__left h1 {
  font-weight: 700;
  font-size: 23px;
  line-height: 140%;
  letter-spacing: 0.4px;
}
nav .nav2 .container .nav__left ul {
  display: flex;
  gap: 24px;
}
nav .nav2 .container .nav__left ul li a {
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.1px;
  color: hsl(0, 0%, 0%);
}
nav .nav2 .container .nav__left ul li a:hover {
  color: #ffc000;
}
nav .nav2 .container .nav__right {
  display: flex;
  gap: 15px;
  align-items: center;
}
nav .nav2 .container .nav__right button {
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
  background-color: lightgrey;
}
nav .nav2 .container .nav__right button a {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.44px;
  color: hsl(0, 0%, 0%);
}
nav .nav2 .container .nav__right button:hover {
  background-color: #ffc000;
}

.hamburger {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hamburger .left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.uil-shopping-cart-alt {
  font-size: 30px;
  color: hsl(0, 0%, 0%);
}

.uil-shopping-cart-alt:hover {
  color: #ffc000;
}

.uil-bars {
  cursor: pointer;
  color: hsl(0, 0%, 0%);
  font-size: 35px;
}

#navbar-responsive {
  display: block;
  position: fixed;
  top: -100%;
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5176470588);
}
#navbar-responsive .hamcontent {
  position: relative;
  padding: 92px 36px 45px;
  background-color: #fafafa;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
#navbar-responsive .hamcontent a {
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  color: hsl(0, 0%, 0%);
}
#navbar-responsive .hamcontent a:hover {
  color: #ffc000;
}
#navbar-responsive .hamcontent .buttons {
  position: absolute;
  bottom: 45px;
  left: 0;
  padding: 0 28px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
#navbar-responsive .hamcontent .buttons button {
  padding: 13px 20px;
  border: none;
  background-color: #fff;
  border-radius: 6px;
}
#navbar-responsive .hamcontent .buttons button a {
  font-weight: 700;
  font-size: 20px;
  line-height: 34px;
  color: hsl(0, 0%, 0%);
}
#navbar-responsive .hamcontent .buttons button:hover {
  background-color: #ffc000;
}

.nav__res {
  padding: 15px 0;
  background-color: #fafafa;
}

.uil-multiply {
  z-index: 10;
  cursor: pointer;
  padding: 25px 30px;
  color: hsl(0, 0%, 0%);
  font-size: 35px;
  position: absolute;
  right: 0px;
}

.navbarshrink {
  padding: 15px 0 !important;
  box-shadow: 1px 5px 15px lightgrey;
}

@media (min-width: 910px) {
  .nav1 {
    display: block !important;
  }
  .nav2 {
    display: block !important;
  }
  .nav__res {
    display: none;
  }
}
@media (min-width: 970px) {
  .nav__left {
    gap: 80px !important;
  }
}
@media (min-width: 550px) {
  /*desktop*/
  main {
    background: #fdfcfc;
  }
  #first-mobile {
    display: none;
  }
  .form-left-right {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
  }
  .tovar {
    padding: 16px 16px;
    background: #ffc000;
  }
  .tovar .tovar-top {
    display: flex;
    justify-content: space-between;
    gap: 180px;
  }
  .tovar .tovar-top h5 {
    padding-bottom: 12.5px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.15px;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #0d0d0d;
  }
  .tovar .tovar-bottom {
    display: flex;
    justify-content: space-between;
  }
  .tovar .tovar-bottom h5 {
    padding-top: 12.5px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.15px;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #0d0d0d;
  }
  .pay {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0 0 0;
  }
  .pay .pay-l img {
    max-width: 166px;
    width: 100%;
    cursor: pointer;
  }
  .pay .pay-r img {
    max-width: 166px;
    width: 100%;
    cursor: pointer;
  }
  .form-right {
    display: flex;
    flex-direction: column;
  }
  .form-right input {
    margin: 0 0 25px 0;
    max-width: 558px;
    width: 100%;
    background: #f1f1f1;
    padding: 18px 0 19px 16px;
    border: none;
  }
  .form-right button {
    max-width: 558px;
    width: 100%;
    background: #ffc000;
    padding: 21px 0;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    align-items: center;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #0d0d0d;
  }
  .form-right button:hover {
    background-color: #0d0d0d;
    color: #ffc000;
    transition: all 0.5s ease-in-out;
  }
  .intro-chek {
    margin-top: 65px;
  }
  .intro-chek h1 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.25px;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #000000;
  }
  .check__out-top-left-right {
    background: #ffffff;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    -moz-column-gap: 30px;
         column-gap: 30px;
    margin: 30px 0 30px;
  }
  .check__out-top-left-right .check__out-top-left {
    max-width: 264px;
    width: 100%;
  }
  .check__out-top-left-right .check__out-top-right {
    max-width: 988px;
    width: 100%;
  }
  .check__out-top-left-right .check__out-top-right .check__out-top-1 {
    display: flex;
    justify-content: space-between;
    padding: 25px 30px 0 0;
  }
  .check__out-top-left-right .check__out-top-right .check__out-top-1 h2 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #040921;
  }
  .check__out-top-left-right .check__out-top-right .check__out-top-1 img {
    cursor: pointer;
  }
  .check__out-top-left-right .check__out-top-right .check__out-top-2 p {
    max-width: 754px;
    padding: 71px 0 43px 0;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0.25px;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #000000;
  }
  .check__out-top-left-right .check__out-top-right .check__out-top-3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .check__out-top-left-right .check__out-top-right .check__out-top-3 .sum__size {
    display: flex;
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
  .check__out-top-left-right .check__out-top-right .check__out-top-3 .sum__size .sum {
    padding-top: 2px;
  }
  .check__out-top-left-right .check__out-top-right .check__out-top-3 .sum__size span {
    padding-left: 10px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #000000;
  }
  .check__out-top-left-right .check__out-top-right .check__out-top-3 .number {
    padding-right: 48px;
    display: flex;
    align-items: center;
  }
  .check__out-top-left-right .check__out-top-right .check__out-top-3 .number .digital {
    max-width: 93px;
    padding: 7px 43px;
    width: 100%;
    background: #f2f2f2;
  }
  .check__out-top-left-right .check__out-top-right .check__out-top-3 .number .minus {
    padding: 7px 17px;
    background: #ffc000;
    cursor: pointer;
    color: #fff;
  }
  .check__out-top-left-right .check__out-top-right .check__out-top-3 .number .minus:hover {
    background-color: #000;
    color: #ffc000;
    transition: all 0.5s ease-in-out;
  }
  .check__out-top-left-right .check__out-top-right .check__out-top-3 .number .plus {
    padding: 7px 17px;
    background: #ffc000;
    cursor: pointer;
    color: #fff;
  }
  .check__out-top-left-right .check__out-top-right .check__out-top-3 .number .plus:hover {
    background-color: #000;
    color: #ffc000;
    transition: all 0.5s ease-in-out;
  }
  .intro-magaz {
    margin: 64px 0 32px;
  }
  .intro-magaz h1 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.25px;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #000000;
  }
  .magazin {
    display: flex;
    justify-content: space-around;
    gap: 30px;
  }
  .magazin .mag-1 {
    max-width: 260px;
    padding: 29px 60px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 8px;
  }
  .magazin .mag-1 img {
    width: 100%;
  }
  .magazin .mag-1-1 img {
    margin-top: 20px;
  }
  .intro-wear_1 {
    margin: 64px 0 34px;
  }
  .intro-wear_1 h2 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.25px;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #000000;
  }
  .intro-wear {
    margin: 64px 0 32px;
  }
  .intro-wear h1 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.25px;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #000000;
  }
  .brands {
    padding-bottom: 80px;
  }
  .wear-1 {
    gap: 17px;
    margin-bottom: 24px;
  }
  .wear-1 .brand-1 {
    padding: 17px 52px;
    max-width: 210px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 8px;
  }
  .wear-1 .brand-2 {
    padding: 13px 32px;
    max-width: 210px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 8px;
  }
  .wear-1 .brand-3 {
    padding: 24px 25px;
    max-width: 210px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 8px;
  }
  .wear-1 .brand-4 {
    padding: 20px 21px;
    max-width: 210px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 8px;
  }
  .wear-1 .wear-2 {
    padding: 26px 63px;
    max-width: 210px;
    background: #ffc000;
    border-radius: 8px;
  }
  .wear-1 .wear-2 h1 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.15px;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #0d0d0d;
  }
  .wear-1 .brand-5 {
    padding: 28px 26px;
    max-width: 210px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 8px;
  }
  .wear-1 .brand-6 {
    padding: 22px 22px;
    max-width: 210px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 8px;
  }
  .wear-1 .brand-7 {
    padding: 12px 22px;
    max-width: 210px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 8px;
  }
  .wear-1 .brand-8 {
    padding: 24px 20px;
    max-width: 210px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 8px;
  }
  .wear-1 .wear-3 {
    padding: 27px 23px;
    max-width: 210px;
    background: #ffc000;
    border-radius: 8px;
  }
  .wear-1 .wear-3 h1 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.15px;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #0d0d0d;
  }
  .wear-1 .brand-9 {
    padding: 17px 52px;
    max-width: 210px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 8px;
  }
  .wear-1 .brand-10 {
    padding: 21px 22px;
    max-width: 210px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 8px;
  }
  .wear-1 .brand-11 {
    padding: 22px 21px;
    max-width: 210px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 8px;
  }
  .wear-1 .brand-12 {
    padding: 24px 20px;
    max-width: 210px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 8px;
  }
  .wear-1 .wear-4 {
    padding: 26px 74px;
    max-width: 210px;
    background: #ffc000;
    border-radius: 8px;
  }
  .wear-1 .wear-4 h1 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.15px;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #0d0d0d;
  }
  .wear-1 .brand-13 {
    padding: 11px 73px;
    max-width: 210px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 8px;
  }
  .wear-1 .brand-14 {
    padding: 30px 18px;
    max-width: 210px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 8px;
  }
  .wear-1 .brand-15 {
    padding: 12px 77px;
    max-width: 210px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 8px;
  }
  .wear-1 .brand-16 {
    padding: 24px 20px;
    max-width: 210px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 8px;
  }
  .wear-1 .wear-5 {
    padding: 12px 16px;
    max-width: 210px;
    background: #ffc000;
    border-radius: 8px;
  }
  .wear-1 .wear-5 h1 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.15px;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #0d0d0d;
  }
}
@media (min-width: 551px) {
  .wear-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 720px) {
  .wear-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1000px) {
  .wear-1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1100px) {
  .wear-1 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (max-width: 1050px) {
  .form-left-right {
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
  }
  .magazin {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .magazin .mag-1 {
    max-width: 264px;
    width: 100%;
    height: 107px;
  }
}
@media (max-width: 840px) {
  .check__out-top-left-right {
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }
  .magazin {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .magazin .mag-1 {
    width: 100%;
    height: 107px;
  }
}
@media (max-width: 600px) {
  .magazin {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .magazin .mag-1 {
    padding: 29px 60px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    width: 100%;
    height: 107px;
  }
}
@media (max-width: 550px) {
  /*mobile*/
  #first-desktop {
    display: none;
  }
  .intro-2 h1 {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 140%;
    letter-spacing: 0.25px;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #000000;
  }
  .tovar-2 {
    background-color: #ffc000;
    padding: 16px 8px;
  }
  .tovar-2 .tovar-top-2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
  }
  .tovar-2 .tovar-top-2 h5 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.25px;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #0d0d0d;
  }
  .tovar-2 .tovar-bottom-2 {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
  }
  .tovar-2 .tovar-bottom-2 h5 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.25px;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #0d0d0d;
  }
  .form-left-right-2 .form-right-2 input {
    width: 100%;
    margin: 25px 0 25px 0;
    display: flex;
    flex-direction: column;
    padding: 19px 0 19px 24px;
    background: #f1f1f1;
    border: none;
  }
  .form-left-right-2 .pay-2 {
    display: flex;
    justify-content: space-between;
    margin-top: 33px;
  }
  .form-left-right-2 .btn button {
    margin-top: 35px;
    width: 100%;
    background-color: #ffc000;
    padding: 18px 0;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #0d0d0d;
  }
  .form-left-right-2 .btn button:hover {
    background-color: #0d0d0d;
    color: #ffc000;
    transition: all 0.5s ease-in-out;
  }
  .intro-chek-2 h2 {
    margin: 40px 0 16px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 140%;
    letter-spacing: 0.25px;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #000000;
  }
  .mobile__left-right {
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    display: flex;
    justify-content: center;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  .mobile__left-right .mobile__left img {
    max-width: 85px;
    width: 100%;
  }
  .mobile__left-right .mobile__right .mobile__right-1 h1 {
    max-width: 210px;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #040921;
  }
  .mobile__left-right .mobile__right .mobile__right-2 .sum__size-2 {
    display: flex;
    justify-content: space-between;
  }
  .mobile__left-right .mobile__right .mobile__right-3 {
    display: flex;
    justify-content: space-between;
  }
  .mobile__left-right .mobile__right .mobile__right-3 img {
    padding-top: 10px;
  }
  .mobile__left-right .mobile__right .mobile__right-3 .number-2 {
    display: flex;
  }
  .mobile__left-right .mobile__right .mobile__right-3 .number-2 .minus-2 {
    padding: 4px 10px;
    background: #ffc000;
    cursor: pointer;
  }
  .mobile__left-right .mobile__right .mobile__right-3 .number-2 .minus-2:hover {
    background-color: #000;
    color: #ffc000;
    transition: all 0.5s ease-in-out;
  }
  .mobile__left-right .mobile__right .mobile__right-3 .number-2 .digital-2 {
    padding: 3px 20px;
    background: #f2f3f7;
  }
  .mobile__left-right .mobile__right .mobile__right-3 .number-2 .digital-2 p {
    padding-top: 2px;
  }
  .mobile__left-right .mobile__right .mobile__right-3 .number-2 .plus-2 {
    padding: 4px 10px;
    background: #ffc000;
    cursor: pointer;
  }
  .mobile__left-right .mobile__right .mobile__right-3 .number-2 .plus-2:hover {
    background-color: #000;
    color: #ffc000;
    transition: all 0.5s ease-in-out;
  }
  .intro-magaz {
    margin: 64px 0 32px;
  }
  .intro-magaz h1 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.25px;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #000000;
  }
  .magazin {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .magazin .mag-1 {
    max-width: 260px;
    padding: 29px 60px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 8px;
  }
  .magazin .mag-1 img {
    width: 100%;
  }
  .magazin .mag-1-1 img {
    margin-top: 20px;
  }
  .intro-wear {
    margin: 56px 0 32px;
  }
  .intro-wear h1 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.25px;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #000000;
  }
  .brands {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .wear-2 {
    padding: 14px 85px;
    width: 100%;
    background: #ffc000;
    margin-bottom: 16px;
    border-radius: 8px;
  }
  .wear-2 h1 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0.15px;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #0d0d0d;
  }
  .brand-1 {
    padding: 13px 85px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    margin-bottom: 16px;
  }
  .brand-2 {
    padding: 13px 85px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    margin-bottom: 16px;
  }
  .brand-3 {
    padding: 13px 85px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    margin-bottom: 16px;
  }
  .brand-4 {
    padding: 13px 85px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    margin-bottom: 16px;
  }
  .wear-3 {
    padding: 14px 85px;
    width: 100%;
    background: #ffc000;
    margin-bottom: 16px;
    margin-top: 35px;
    border-radius: 8px;
  }
  .wear-3 h1 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0.15px;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #0d0d0d;
  }
  .brand-5 {
    padding: 20px 85px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    margin-bottom: 16px;
  }
  .brand-6 {
    padding: 13px 85px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    margin-bottom: 16px;
  }
  .brand-7 {
    padding: 5px 85px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    margin-bottom: 16px;
  }
  .brand-8 {
    padding: 13px 85px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    margin-bottom: 16px;
  }
  .wear-4 {
    padding: 18px 100px;
    width: 100%;
    background: #ffc000;
    margin-bottom: 16px;
    margin-top: 35px;
    border-radius: 8px;
  }
  .wear-4 h1 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0.15px;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #0d0d0d;
  }
  .brand-9 {
    padding: 13px 85px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    margin-bottom: 16px;
  }
  .brand-10 {
    padding: 13px 85px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    margin-bottom: 16px;
  }
  .brand-11 {
    padding: 13px 85px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    margin-bottom: 16px;
  }
  .brand-12 {
    padding: 13px 85px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    margin-bottom: 16px;
  }
  .wear-5 {
    padding: 18px 60px;
    width: 100%;
    background: #ffc000;
    margin-bottom: 16px;
    margin-top: 35px;
    border-radius: 8px;
  }
  .wear-5 h1 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0.15px;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #0d0d0d;
  }
  .brand-13 {
    padding: 7px 85px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    margin-bottom: 16px;
  }
  .brand-13 img {
    max-width: 54px;
  }
  .brand-14 {
    padding: 23px 85px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    margin-bottom: 16px;
  }
  .brand-15 {
    padding: 7px 85px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    margin-bottom: 16px;
  }
  .brand-15 img {
    max-width: 54px;
  }
  .brand-16 {
    padding: 13px 85px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    margin-bottom: 16px;
  }
}
.intro {
  text-align: center;
}
.intro h1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.25px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}

#first-desktop {
  padding-top: 150px;
}

#first-mobile {
  padding-top: 150px;
}