@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  transition: all 0.4s ease;
  font-family: "Montserrat", sans-serif;
  outline: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

input:focus {
  outline: none;
}

::-moz-placeholder {
  color: unset;
}

::placeholder {
  color: unset;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:where(:not(html, iframe, canvas, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

#backtop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  border-radius: 12px;
  border: 4px solid #000000;
  outline: none;
  cursor: pointer;
  padding: 8px;
  transition: 0.6s;
  background-color: #fafafa;
}

#backtop a {
  font-weight: 700;
  font-size: 20px;
  color: #000000;
}

#backtop:hover {
  border-color: #ffc000;
}
#backtop:hover a {
  color: #ffc000;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
nav .nav1 {
  display: none;
  padding: 10px 0;
  background-color: #000000;
}
nav .nav1 a {
  color: grey;
  margin-right: 8px;
  font-weight: 700;
  font-size: 10px;
  line-height: 140%;
  letter-spacing: 1.5px;
}
nav .nav1 a:hover {
  color: #fafafa;
}
nav .nav2 {
  display: none;
  padding: 20px 0;
  background-color: #fafafa;
}
nav .nav2 .container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
nav .nav2 .container .nav__left {
  display: flex;
  gap: 20px;
  align-items: center;
}
nav .nav2 .container .nav__left h1 {
  font-weight: 700;
  font-size: 23px;
  line-height: 140%;
  letter-spacing: 0.4px;
}
nav .nav2 .container .nav__left ul {
  display: flex;
  gap: 24px;
}
nav .nav2 .container .nav__left ul li a {
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.1px;
  color: #000000;
}
nav .nav2 .container .nav__left ul li a:hover {
  color: #ffc000;
}
nav .nav2 .container .nav__right {
  display: flex;
  gap: 15px;
  align-items: center;
}
nav .nav2 .container .nav__right button {
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
}
nav .nav2 .container .nav__right button a {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.44px;
  color: #000000;
}
nav .nav2 .container .nav__right button:hover {
  background-color: #ffc000;
}

.hamburger {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hamburger .left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.uil-shopping-cart-alt {
  font-size: 30px;
  color: #000000;
}

.uil-shopping-cart-alt:hover {
  color: #ffc000;
}

.uil-bars {
  cursor: pointer;
  color: #000000;
  font-size: 35px;
}

#navbar-responsive {
  display: block;
  position: fixed;
  top: -100%;
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5176470588);
}
#navbar-responsive .hamcontent {
  position: relative;
  padding: 92px 36px 45px;
  background-color: #fafafa;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
#navbar-responsive .hamcontent a {
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  color: #000000;
}
#navbar-responsive .hamcontent a:hover {
  color: #ffc000;
}
#navbar-responsive .hamcontent .buttons {
  position: absolute;
  bottom: 45px;
  left: 0;
  padding: 0 28px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
#navbar-responsive .hamcontent .buttons button {
  padding: 13px 20px;
  border: none;
  background-color: #fff;
  border-radius: 6px;
}
#navbar-responsive .hamcontent .buttons button a {
  font-weight: 700;
  font-size: 20px;
  line-height: 34px;
  color: #000000;
}
#navbar-responsive .hamcontent .buttons button:hover {
  background-color: #ffc000;
}

.nav__res {
  padding: 15px 0;
  background-color: #fafafa;
}

.uil-multiply {
  z-index: 10;
  cursor: pointer;
  padding: 25px 30px;
  color: #000000;
  font-size: 35px;
  position: absolute;
  right: 0px;
}

.navbarshrink {
  padding: 15px 0 !important;
  box-shadow: 1px 5px 15px grey;
}

@media (min-width: 910px) {
  .nav1 {
    display: block !important;
  }
  .nav2 {
    display: block !important;
  }
  .nav__res {
    display: none;
  }
}
@media (min-width: 970px) {
  .nav__left {
    gap: 80px !important;
  }
}
@media (min-width: 550px) {
  #first__mobile {
    display: none;
  }
  #first__decktop {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }
  main {
    padding-top: 170px;
    background: #fafafa;
  }
  .check__out-top-left-right {
    background: #ffffff;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
  .check__out-top-left-right .check__out-top-left {
    max-width: 264px;
    width: 100%;
  }
  .check__out-top-left-right .check__out-top-right {
    max-width: 988px;
    width: 100%;
  }
  .check__out-top-left-right .check__out-top-right .check__out-top-1 {
    display: flex;
    justify-content: space-between;
    padding: 25px 30px 0 0;
  }
  .check__out-top-left-right .check__out-top-right .check__out-top-1 h2 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #040921;
  }
  .check__out-top-left-right .check__out-top-right .check__out-top-1 img {
    cursor: pointer;
  }
  .check__out-top-left-right .check__out-top-right .check__out-top-2 p {
    max-width: 754px;
    padding: 71px 0 43px 0;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0.25px;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #000000;
  }
  .check__out-top-left-right .check__out-top-right .check__out-top-3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .check__out-top-left-right .check__out-top-right .check__out-top-3 .sum__size {
    display: flex;
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
  .check__out-top-left-right .check__out-top-right .check__out-top-3 .sum__size .sum {
    padding-top: 2px;
  }
  .check__out-top-left-right .check__out-top-right .check__out-top-3 .sum__size span {
    padding-left: 10px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #000000;
  }
  .check__out-top-left-right .check__out-top-right .check__out-top-3 .number {
    padding-right: 48px;
    display: flex;
    align-items: center;
  }
  .check__out-top-left-right .check__out-top-right .check__out-top-3 .number .digital {
    max-width: 93px;
    padding: 7px 43px;
    width: 100%;
    background: #f2f2f2;
  }
  .check__out-top-left-right .check__out-top-right .check__out-top-3 .number .minus {
    padding: 7px 17px;
    background: #ffc000;
    cursor: pointer;
    color: #fff;
  }
  .check__out-top-left-right .check__out-top-right .check__out-top-3 .number .minus:hover {
    background-color: #000;
    color: #ffc000;
    transition: all 0.5s ease-in-out;
  }
  .check__out-top-left-right .check__out-top-right .check__out-top-3 .number .plus {
    padding: 7px 17px;
    background: #ffc000;
    cursor: pointer;
    color: #fff;
  }
  .check__out-top-left-right .check__out-top-right .check__out-top-3 .number .plus:hover {
    background-color: #000;
    color: #ffc000;
    transition: all 0.5s ease-in-out;
  }
  .zakaz {
    display: flex;
    justify-content: space-between;
    padding: 42px 0 56px;
    align-items: center;
  }
  .zakaz .zakaz__sum .ob_sum {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #000000;
  }
  .zakaz .zakaz__sum span {
    padding-left: 15px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.44px;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #000000;
  }
  .zakaz .zakaz__btn {
    padding: 18px 110px;
    background: #ffc000;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #0d0d0d;
  }
  .zakaz .zakaz__btn:hover {
    background-color: #000;
    color: #ffc000;
    transition: all 0.5s ease-in-out;
  }
  .maxsulot-body {
    padding-bottom: 64px;
    color: #000000;
  }
  .maxsulot-body h1 {
    margin-bottom: 32px;
    font-weight: 700;
    font-size: 34px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.25px;
  }
  .maxsulot-body .maxsulot-body_box {
    display: flex;
    align-items: center;
    -moz-column-gap: 30px;
         column-gap: 30px;
    row-gap: 40px;
  }
  .maxsulot-body .maxsulot-body_box .box__item {
    background: #ffffff;
    box-shadow: 0px 0px 98px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    width: 264px;
    padding-bottom: 6px;
  }
  .maxsulot-body .maxsulot-body_box .box__item h2 {
    margin: 8px 13px 0px;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.75px;
    text-transform: uppercase;
  }
  .maxsulot-body .maxsulot-body_box .box__item p {
    margin: 8px 13px;
    font-weight: 500;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0.4px;
  }
  .maxsulot-body .maxsulot-body_box .box__item .box-item_box {
    margin: 0px 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .maxsulot-body .maxsulot-body_box .box__item .box-item_box p {
    font-weight: 700;
    font-size: 10px;
    line-height: 140%;
    text-transform: uppercase;
  }
  .maxsulot-body .maxsulot-body_box .box__item button {
    margin: 0px 13px;
    background: #ffc000;
    border-radius: 6px;
    padding: 8px 22px;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.75px;
    text-transform: uppercase;
  }
  .maxsulot-body .maxsulot-body_box .box__item button:hover {
    background-color: #000;
    color: #ffc000;
    transition: all 0.5s ease-in-out;
  }
}
@media (max-width: 550px) {
  #first__decktop {
    display: none;
  }
  #first__mobile {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }
  main {
    padding-top: 170px;
    background: #fff;
  }
  .mobile__left-right {
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    display: flex;
    justify-content: center;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  .mobile__left-right .mobile__left img {
    max-width: 85px;
    width: 100%;
  }
  .mobile__left-right .mobile__right .mobile__right-1 h1 {
    max-width: 210px;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #040921;
  }
  .mobile__left-right .mobile__right .mobile__right-2 .sum__size-2 {
    display: flex;
    justify-content: space-between;
  }
  .mobile__left-right .mobile__right .mobile__right-3 {
    display: flex;
    justify-content: space-between;
  }
  .mobile__left-right .mobile__right .mobile__right-3 img {
    padding-top: 10px;
  }
  .mobile__left-right .mobile__right .mobile__right-3 .number-2 {
    display: flex;
  }
  .mobile__left-right .mobile__right .mobile__right-3 .number-2 .minus-2 {
    padding: 4px 10px;
    background: #ffc000;
    cursor: pointer;
  }
  .mobile__left-right .mobile__right .mobile__right-3 .number-2 .minus-2:hover {
    background-color: #000;
    color: #ffc000;
    transition: all 0.5s ease-in-out;
  }
  .mobile__left-right .mobile__right .mobile__right-3 .number-2 .digital-2 {
    padding: 3px 20px;
    background: #f2f3f7;
  }
  .mobile__left-right .mobile__right .mobile__right-3 .number-2 .digital-2 p {
    padding-top: 2px;
  }
  .mobile__left-right .mobile__right .mobile__right-3 .number-2 .plus-2 {
    padding: 4px 10px;
    background: #ffc000;
    cursor: pointer;
  }
  .mobile__left-right .mobile__right .mobile__right-3 .number-2 .plus-2:hover {
    background-color: #000;
    color: #ffc000;
    transition: all 0.5s ease-in-out;
  }
  .zakaz {
    display: flex;
    justify-content: space-between;
    padding: 42px 0 56px;
    align-items: center;
  }
  .zakaz .zakaz__sum .ob_sum {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #000000;
  }
  .zakaz .zakaz__sum span {
    padding-left: 15px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.44px;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #000000;
  }
  .zakaz .zakaz__btn {
    padding: 18px 110px;
    background: #ffc000;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #0d0d0d;
  }
  .zakaz .zakaz__btn:hover {
    background-color: #000;
    color: #ffc000;
    transition: all 0.5s ease-in-out;
  }
  #tavar-section {
    padding: 0 0 32px 0;
  }
  #tavar-section h1 {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 34px;
    line-height: 140%;
    letter-spacing: 0.25px;
    color: #000000;
  }
  #tavar-section .tavar-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
  #tavar-section .tavar-box .tavar-card {
    border-radius: 50px;
  }
  #tavar-section .tavar-box .tavar-card p {
    margin: 4px 0px;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.1px;
    color: #000000;
  }
  #tavar-section .tavar-box .tavar-card h6 {
    font-weight: 700;
    font-size: 10px;
    line-height: 140%;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #000000;
  }
}
@media (min-width: 300px) {
  .zakaz__btn {
    text-align: center;
  }
}
@media (max-width: 650px) {
  .zakaz {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
  }
}
@media (max-width: 840px) {
  .check__out-top-left-right {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 1050px) {
  .maxsulot-body_box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}